<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <img class="a"  src="https://pos.nvncdn.com/a36e05-151378/pc/20231204_EnbtSkPD.gif">
      </div>
<div>
<div class="row">
  <div class="col-md-4">
    <img class="hinh1"src="https://cdn2.yame.vn/pimg/so-mi-tay-dai-on-gian-y-nguyen-ban-ver25-0021330/95d3c20b-0321-2600-7c3d-0019cb30872f.jpg?w=800" >
    <h6 class="m"href="#"routerLink="sanpham">Aó Sơ Mi Sọc Nâu</h6>
      <p class="m">Giá: 219.000vnđ</p>
      <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
      <button class="s">Mua</button>
</div>

  <div class="col-md-4">
      <img class="hinh1" src="https://cdn2.yame.vn/pimg/so-mi-tay-dai-on-gian-y-nguyen-ban-ver25-0021328/4c14370a-cb3c-0500-11fe-0019cb2e7861.jpg?w=800">
      <h6 class="m">Áo Sơ Mi Sọc Trắng</h6>
        <p class="m">Giá: 219.000vnđ</p>
        <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
        <button class="s">Mua</button>

  </div>

  <div class="col-md-4">
      <img class="hinh1" src="https://cdn2.yame.vn/pimg/ao-so-mi-co-lanh-tu-soi-cotton-di-san-m3-0022330/1ffc4ef2-a27d-9f00-0c37-001a75c4465f.jpg?w=800">
      <h6 class="m"> Sơ Mi Trắng Cổ Trụ</h6>
       <p class="m">Giá: 350.000vnđ</p>
       <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
       <button class="s">Mua</button>

  </div>

   <div class="col-md-4">
      <img class="hinh1" src="https://cdn2.yame.vn/pimg/so-mi-tay-dai-on-gian-y-nguyen-ban-ver48-0021404/1d3a5822-8a57-2200-b2ad-0019d0b83dfb.jpg?w=540&h=756">
      <h6 class="m">Sơ Mi Kẻ Sọc Đứng</h6>
       <p class="m">Giá: 380.000vnđ</p>
       <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
       <button class="s">Mua</button>
   </div>
   <div class="col-md-4">
      <img class="hinh1" src="https://cdn2.yame.vn/pimg/so-mi-co-danton-than-co-ai-valknut-ver3-0021526/d09cd2c7-5a39-e000-febe-0019aa376d27.jpg?w=540&h=756">
      <h6 class="m">Sơ Mi Tay Ngắn Họa Tiết </h6>
       <p class="m">Giá: 380.000vnđ</p>
       <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
       <button class="s">Mua</button>
    </div>
    <div class="col-md-4">
      <img class="hinh1" src="https://cdn2.yame.vn/pimg/so-mi-nam-y2010-td-l01-0019680/b649e39b-559b-0100-f228-00172c1dc894.jpg?w=540&h=756">
      <h6 class="m">Sơ Mi Trắng</h6>
       <p class="m">Giá: 319.000vnđ</p>
       <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
       <button class="s">Mua</button>
  </div>

</div>
</div>

