
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <img class="b"src="https://file.hstatic.net/1000003969/file/1920x870_075caca7dd604041bb61eaaea83fe41a.jpg">

            </div>
<div>
  <div class="row">
    <div class="col-md-4">
      <img class="hinh1"src="https://www.charleskeith.vn/dw/image/v2/BCWJ_PRD/on/demandware.static/-/Sites-vn-products/default/dwf6a0e39b/images/hi-res/2023-L7-CK2-50271275-1-01-1.jpg?sw=1152&sh=1536" >
      <h6 class="chu">Túi Đeo Chéo</h6>
        <p class="t">349.000vnđ</p>
  </div>

    <div class="col-md-4">
        <img class="hinh1" src="https://www.charleskeith.vn/dw/image/v2/BCWJ_PRD/on/demandware.static/-/Sites-vn-products/default/dwa89f42cd/images/hi-res/2023-L6-CK2-50782198-01-1.jpg?sw=1152&sh=1536">
        <h6 class="chu"> Túi Đeo Vai</h6>
        <p class="t">229.000vnđ</p>
    </div>

    <div class="col-md-4">
        <img class="hinh1" src="https://www.charleskeith.vn/dw/image/v2/BCWJ_PRD/on/demandware.static/-/Sites-vn-products/default/dwfa09640b/images/hi-res/2023-L2-CK2-80782074-47-4.jpg?sw=1152&sh=1536">
        <h6 class="chu">Túi Xách Đeo vai</h6>
        <p class="t">219.000vnđ</p>
         <button>Add to cart</button>
    </div>

     <div class="col-md-4">
        <img class="hinh1" src="https://www.charleskeith.vn/dw/image/v2/BCWJ_PRD/on/demandware.static/-/Sites-vn-products/default/dw1c1e5055/images/hi-res/2023-L7-CK2-81200030-09-2.jpg?sw=1152&sh=1536">
        <h6 class="chu">Túi Xách</h6>
        <p class="t">259.000vnđ</p>
     </div>
     <div class="col-md-4">
        <img class="hinh1" src="https://www.charleskeith.vn/dw/image/v2/BCWJ_PRD/on/demandware.static/-/Sites-vn-products/default/dw57057a24/images/hi-res/2023-L2-CK2-20271063-1-13-4.jpg?sw=1152&sh=1536">
        <h6 class="chu">TúiXách Đeo  Vai</h6>
        <p class="t">249.000vnđ</p>
      </div>
      <div class="col-md-4">
        <img class="hinh1" src="https://www.charleskeith.vn/dw/image/v2/BCWJ_PRD/on/demandware.static/-/Sites-vn-products/default/dwee33f636/images/hi-res/2023-L7-CK2-20782259-J8-2.jpg?sw=1152&sh=1536">
        <h6 class="chu">Túi Form chữ nhật</h6>
        <p class="t">239.000vnđ</p>
         <button>Add to cart</button>
    </div>

  </div>
  </div>


