<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <img class="b"src="https://file.hstatic.net/200000410665/collection/giay-luoi-2_579a25b9d7ab4bc1a44de2b01fb0d9c7.jpg">

      </div>
<div>
  <div class="row">
    <div class="col-md-4">
      <img class="hinh1"src="https://cdn.vuahanghieu.com/unsafe/500x0/left/top/smart/filters:quality(90)/https://admin.vuahanghieu.com/upload/product/2023/12/kinh-mat-nam-dolce-gabbana-d-g-dg2294-07-87-mau-den-65864285bd376-23122023091429.jpg" >
      <h6 class="chu">Mắt Kính </h6>
        <p class="t">Giá: 229.000vnđ</p>
  </div>

    <div class="col-md-4">
        <img class="hinh1" src="https://cdn.vuahanghieu.com/unsafe/500x0/left/top/smart/filters:quality(90)/https://admin.vuahanghieu.com/upload/product/2022/08/tui-deo-cheo-coach-sullivan-flap-crossbody-in-signature-canvas-mau-den-xam-630de1dca4ede-30082022170932.jpg">
        <h6 class="chu">Túi Đeo Chéo</h6>
        <p class="t">Giá: 229.000vnđ</p>
    </div>

    <div class="col-md-4">
        <img class="hinh1" src="https://cdn.vuahanghieu.com/unsafe/500x0/left/top/smart/filters:quality(90)/https://admin.vuahanghieu.com/upload/product/2023/12/giay-the-thao-mlb-chunky-liner-mid-lux-new-york-yankees-3asxcmc3n-50bks-mau-den-trang-6583b1b5b536b-21122023103205.jpg">
        <h6 class="chu">Giá: giày Jordan</h6>
        <p class="t">419.000vnđ</p>
         <button>Add to cart</button>
    </div>

     <div class="col-md-4">
        <img class="hinh1" src="https://cdn.vuahanghieu.com/unsafe/500x0/left/top/smart/filters:quality(90)/https://admin.vuahanghieu.com/upload/product/2022/12/mu-mlb-new-fit-cau-truc-ball-cap-boston-red-sox-3acp0802n-43crs-mau-trang-63ad032f03837-29122022100207.jpg">
        <h6 class="chu">Nón kết </h6>
        <p class="t"> Giá: 119.000vnđ</p>
     </div>
     <div class="col-md-4">
        <img class="hinh1" src="https://cdn.vuahanghieu.com/unsafe/0x900/left/top/smart/filters:quality(90)/https://admin.vuahanghieu.com/upload/product/2023/11/dong-ho-nam-casio-quartz-watch-mtp-1381l-1a-mau-den-6549a3a0d8e6b-07112023094032.jpg">
        <h6 class="chu">Đồng Hồ </h6>
        <p class="t"> Giá: 549.000vnđ</p>
      </div>
      <div class="col-md-4">
        <img class="hinh1" src="https://cdn.vuahanghieu.com/unsafe/500x0/left/top/smart/filters:quality(90)/https://admin.vuahanghieu.com/upload/product/2022/12/dong-ho-nam-guess-quartz-black-silicone-men-s-watch-gw0208g1-mau-den-63aeb9e66d52a-30122022171358.jpg">
        <h6 class="chu">Đồng Hồ </h6>
        <p class="t">649.000vnđ</p>
         <button>Add to cart</button>
    </div>

  </div>
  </div>


