
<div>
  <div class="row">
    <div class="col-md-4">
      <img class="hinh1"src="https://product.hstatic.net/200000503583/product/quan-jean-ong-dung__5__6248bce576eb48b5a291690587bf43cb_grande.jpg" >
      <h6 class="r">Quần Jean</h6>
        <p class="r">519.000vnđ</p>
        <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
         <button class="s">Mua</button>
  </div>

    <div class="col-md-4">
        <img class="hinh1" src="https://product.hstatic.net/200000503583/product/ao-so-mi__1__1f8367cae4584bbe9afbd6b734f43522_master.jpg">
        <h6 class="r">Quần Tây</h6>
          <p class="r">210.000vnđ</p>
          <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
         <button class="s">Mua</button>
    </div>

    <div class="col-md-4">
        <img class="hinh1" src="https://product.hstatic.net/200000503583/product/ao-so-mi-kieu__3__285a884a951d4a3d915c852025950548_master.jpg">
        <h6 class="r">Quần Tây</h6>
         <p class="r">280.000vnđ</p>
         <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
         <button class="s">Mua</button>
    </div>

     <div class="col-md-4">
        <img class="hinh1" src="https://product.hstatic.net/200000503583/product/ao-so-mi-kieu__7__3b7daafa58ec439babce2f9ef3902f47_master.jpg">
        <h6 class="r">Quần Tây</h6>
         <p class="r">210.000vnđ</p>
         <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
         <button class="s">Mua</button>
     </div>
     <div class="col-md-4">
        <img class="hinh1" src="https://product.hstatic.net/200000503583/product/ao-cong-so-co-v__3__933bec70c7f34d4fb13ea0ebbdffdf66_master.jpg">
        <h6 class="r">Quần Tây Công Sở </h6>
         <p class="r">220.000vnđ</p>
         <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
         <button class="s">Mua</button>
      </div>
      <div class="col-md-4">
        <img class="hinh1" src="https://product.hstatic.net/200000503583/product/ao-giu-nhiet__2__0002b485ea664e308d06efeb203c7e81_master.jpg">
        <h6 class="r">Quần Tây Ống Rộng</h6>
         <p class="r">280.000vnđ</p>
         <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
         <button class="s">Mua</button>
    </div>

  </div>
  </div>



