
<div>
  <div class="row">
    <div class="col-md-4">
      <img class="hinh1"src="https://product.hstatic.net/200000503583/product/set-vay-cong-so__1__67c1570293c64232b2b6df5eb56b997a_master.jpg" >
      <h6 class="z">Đầm Thiết Kế</h6>
        <p class="z">Giá: 519.000vnđ</p>
  </div>

    <div class="col-md-4">
        <img class="hinh1" src="https://product.hstatic.net/200000503583/product/3_f6c2f389f55e494a93d5bc9bb920286c_master.png">
        <h6 class="z">Đầm Thiết Kế kèm khoác vest</h6>
          <p class="z">Giá: 700.000vnđ</p>
    </div>

    <div class="col-md-4">
        <img class="hinh1" src="https://product.hstatic.net/200000503583/product/set-vay-ao-cong-so__2__517832d9fb5e4613b30dcb67f7a0e4dc_master.jpg">
        <h6 class="z">Đầm Công Sở</h6>
         <p class="z">Giá: 480.000vnđ</p>
         
    </div>

     <div class="col-md-4">
        <img class="hinh1" src="https://product.hstatic.net/200000503583/product/set-vay-ao-a-co-nu-hoang__6__9579596c1909459d98c8bfbfc5a5ce67_master.jpg">
        <h6 class="z">Đầm Thiết Kế</h6>
        <p class="z">Giá: 380.000vnđ</p>
     </div>
     <div class="col-md-4">
        <img class="hinh1" src="https://product.hstatic.net/200000503583/product/set-ao-vay-duoi-ca__6__79aef09c9aa2477dabcad3d3285f1ba0_master.jpg">
        <h6 class="z">Đầm đuôi cá </h6>
         <p class="z">Giá: 480.000vnđ</p>
      </div>
      <div class="col-md-4">
        <img class="hinh1" src="https://product.hstatic.net/200000503583/product/set-vay-da-tweed__4__8d4f48de4ae84d2da1cefa63e2056e27_master.jpg">
        <h6 class="z">Đầm Tiểu Thư</h6>
         <p class="z">Giá: 480.000vnđ</p>
    </div>

  </div>
  </div>



