<div class="row">
  <div class="col-md-4">
    <img class="hinh1"src="https://cdn2.yame.vn/pimg/so-mi-tay-dai-on-gian-y-nguyen-ban-ver25-0021330/95d3c20b-0321-2600-7c3d-0019cb30872f.jpg?w=800" >
    <h6>Sét Áo Và Quần Nữ</h6>
      <p>price: 519.000vnđ</p>
      <li><a class="item">xem chi tiết</a></li>
      <p> Áo Thun Cổ Trụ Đơn Giản 12VAHDT Văn Hiến Chi Bang Ver11
        Chất liệu: Cotton Compact
        Thành phần: 100% Cotton
        - Thân thiện
        - Thấm hút thoát ẩm
        - Mềm mại
        - Kiểm soát mùi
        <button type="submit" class="btn btn-success">yêu thích</button>
      </p>
