
<div>
  <div class="row">
    <div class="col-md-4">
      <img class="hinh1"src="https://cdn.kkfashion.vn/27276-large_default/ao-khoac-tweed-nu-dang-ngan-mau-do-ak12-08.jpg">
      <h6 class="v">Sét Áo Và Quần Nữ</h6>
        <p class="v">519.000vnđ</p>
        <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
         <button class="s">Mua</button>
  </div>

    <div class="col-md-4">
        <img class="hinh1" src="https://product.hstatic.net/1000392326/product/fat7313_-_768k_fjd51111_-_858k___2__fa8c19ae28e740938774f7dfad3925f0_1024x1024.jpg">
        <h6 class="v">Sét Áo Và Quần Nữ</h6>
          <p class="v">500.000vnđ</p>
          <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
         <button class="s">Mua</button>
    </div>

    <div class="col-md-4">
        <img class="hinh1" src="https://cdn.kkfashion.vn/27534-large_default/ao-lua-co-dap-cheo-tay-dai-mau-do-tuoi-asm17-39.jpg">
        <h6 class="v">Sét Áo Và Quần Nữ</h6>
         <p class="v">480.000vnđ</p>
         <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
         <button class="s">Mua</button>
    </div>

     <div class="col-md-4">
        <img class="hinh1" src="https://cdn.kkfashion.vn/26340-large_default/ao-so-mi-cong-so-nu-tay-dai-mau-xanh-asm12-38.jpg">
        <h6 class="v">Sét Áo Và Quần Nữ</h6>
         <p class="v">480.000vnđ</p>
         <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
         <button class="s">Mua</button>
     </div>
     <div class="col-md-4">
        <img class="hinh1" src="https://cdn.kkfashion.vn/27529-large_default/ao-lua-co-dap-cheo-tay-dai-mau-do-do-asm17-37.jpg">
        <h6 class="v">Sét Áo Và Quần Nữ</h6>
         <p class="v">480.000vnđ</p>
         <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
         <button class="s">Mua</button>
      </div>
      <div class="col-md-4">
        <img class="hinh1" src="https://cdn.kkfashion.vn/25427-large_default/ao-kieu-co-sen-nhon-phoi-beo-tay-dai-asm15-05.jpg">
        <h6 class="v">Sét Áo Và Quần Nữ</h6>
         <p class="v">480.000vnđ</p>
         <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
         <button class="s">Mua</button>
    </div>

  </div>
  </div>


