<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <img class="hinh2"  src="https://pos.nvncdn.com/a36e05-151378/pc/20231204_AwM8ihlL.gif">
      </div>
<div>
  <div class="row">
    <div class="col-md-4">
      <img class="hinh1"src="https://cdn2.yame.vn/pimg/ao-thun-co-tru-on-gian-than-co-ai-khepri-ver3-0020848/8f300a59-a69e-f600-2251-001947f94746.jpg?w=540&h=756" >
      <h6 class="chu">Áo Polo Cổ Bẻ Tay Ngắn </h6>
        <p class="t">Giá: 229.000vnđ</p>
        <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
         <button class="s">Mua</button>
  </div>

    <div class="col-md-4">
        <img class="hinh1" src="https://cdn2.yame.vn/pimg/ao-thun-co-tru-toi-gian-m4-0020885/4b3b8c6d-6670-8700-bd00-001936b1e0ae.jpg?w=540&h=756">
        <h6 class="chu">Áo Polo Cổ Bẻ Tay Ngắn </h6>
        <p class="t">Giá: 229.000vnđ</p>
        <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
        <button class="s">Mua</button>

    </div>

    <div class="col-md-4">
        <img class="hinh1" src="https://cdn2.yame.vn/pimg/ao-thun-co-tru-toi-gian-m4-0020888/61b0f9ac-eb60-b400-c645-001936b4200d.jpg?w=540&h=756">
        <h6 class="chu">Áo Polo Cổ Bẻ Tay Ngắn </h6>
        <p class="t">Giá: 219.000vnđ</p>
        <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
        <button class="s">Mua</button>
    </div>

     <div class="col-md-4">
        <img class="hinh1" src="https://cdn2.yame.vn/pimg/ao-thun-co-tru-on-gian-12vahdt-van-hien-chi-bang-ver11-0020651/b3650602-a969-3500-5129-0018e91501f1.jpg?w=540&h=756">
        <h6 class="chu">Áo Polo Cổ Bẻ Tay Ngắn </h6>
        <p class="t">Giá: 219.000vnđ</p>
        <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
         <button class="s">Mua</button>
     </div>
     <div class="col-md-4">
        <img class="hinh1" src="https://cdn2.yame.vn/pimg/ao-thun-co-tru-toi-gian-m15-0021083/e0ccd23b-ac77-6100-a973-001947f5de9c.jpg?w=540&h=756">
        <h6 class="chu">Áo Polo Cổ Bẻ Tay Ngắn </h6>
        <p class="t"> Giá: 249.000vnđ</p>
        <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
         <button class="s">Mua</button>

      </div>
      <div class="col-md-4">
        <img class="hinh1" src="https://cdn2.yame.vn/pimg/ao-thun-co-tru-on-gian-ngan-ha-space-ver19-0020806/57b8a1df-a559-5c01-9511-001925914eda.jpg?w=540&h=756">
        <h6 class="chu">Áo Polo Cổ Bẻ Tay Ngắn </h6>
        <p class="t">Giá: 249.000vnđ</p>
        <button class="s">Thêm vào<i class="fa fa-shopping-cart" ></i></button>
         <button class="s">Mua</button>
    </div>

  </div>
  </div>


